.icon{
  color: var(--theme-color);
  z-index: 2;
  padding: 10px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s
}
.icon:active {
  transform: scale(0.95)
}
.icon:hover {
  background-color: var(--theme-color);
  color: #fff
}